$darker-background: #f8f9fd;
$darker-background-hover: #eef1fb;
$background: #f2f2f2;
$black: #000;
$blue: #3458e4;
$light-gray: #f6f6f6;

$gray: #eaeced;
$dark-gray: #9c9c9c;

$dark-gray-blue: #c6d1dd;
$dark-gray-blue-hover: #e1e8f2;
