@import "../utils/variables";

.home {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  .search-bar {
    text-align: center;
    margin: 2rem 0 1rem 0;

    input {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      width: 100%;
      max-width: 400px;
      border-radius: 16px;
      border: 1px solid $gray;
      outline: none;
    }

    ::placeholder {
      color: $dark-gray;
    }
  }

  main {
    .categories {
      .carousel {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        .inner-carousel {
          max-width: 90vw;
          display: flex;
          align-items: center;
          padding: 2rem 0;

          .item {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid $gray;
            border-radius: 16px;
            padding: 0 2.5rem 0 2rem;
            min-width: 165px;
            margin: 0 1rem;

            img {
              max-width: 32px;
              max-height: 32px;
              pointer-events: none;
            }

            p {
              font-size: 1.4rem;
              font-weight: 600;
              margin-left: 2rem;
              padding: 1.2rem 0;
              border-bottom: 2px solid #fff;
              border-top: 2px solid transparent;
              transition: 0.2s;
            }

            &:nth-child(1) {
              margin-left: 0.5rem;
            }

            &:nth-last-child(1) {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .home {
    padding: 2rem 4rem;
    height: 100vh;
    overflow-y: auto;
    width: 100%;

    .search-bar {
      text-align: left;

      input {
        font-size: 1.6rem;
      }
    }

    main {
      .categories {
        .carousel {
          .inner-carousel {
            .item {
              cursor: pointer;
              &:hover {
                p {
                  border-bottom: 2px solid #3458e4;
                  color: #3458e4;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .home {
    main {
      display: flex;
      justify-content: space-evenly;

      .categories {
        width: 70%;
        max-width: 850px;
      }
    }
  }
}
